@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


html, body {
    margin: 0;
    padding: 0;
}
/* Set core body defaults */
body {
    background: url(bg.png) bottom left no-repeat;
    background-size: 2600px;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pacifico",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    overflow: hidden;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
#box-wrap {
    position: relative;
    width: 620px;
    height: 877px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
#box-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(pattern.png) #ff9798 repeat;
    z-index: 99999;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .2);
    transition: transform 2s;
}
.off {
    transform: translateY(-9999px);

}
.hold-still {
    animation: none !important;
    background: #a03f3f;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.hold-still #picture {
    border: 1px solid #502828;
}
.ribbon {
    position: absolute;
    background: #a03f3f;
}
.rv {
    width: 100px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rh {
    width: 100%;
    height: 100px;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    text-align: center;
    font-size: 48px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 4px;
    color: #fff;
}


#picture {
    position: relative;
    display: block;

    background: url(bg.png) center center no-repeat;
    background-size: contain;

    overflow: hidden;
    width: 520px;
    height: 735px;
    max-width: 100vw;
    max-height: calc(1.42 * 100vw);

}
#character {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: jiggle 5s infinite;
}

#leaves {position:relative; top:-50px; width:100%;text-align: right; z-index: 1;}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #84992c, #41560d);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:before {
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 0px solid #222;
    border-right: 1px solid #222;
    background:  linear-gradient(to bottom right, #84992c, #41560d);
    z-index: 1;
}

#leaves i:after {
    content: '';
    height: 125px;
    width: 10px;
    background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background:  linear-gradient(to bottom right, #f09267, #cb593e); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #990, #564500); }
#leaves i:nth-of-type(4n+1)  { background:  linear-gradient(to bottom right, #f09267, #cb593e); }

#leaves i:nth-of-type(n)    { opacity: .8;}
#leaves i:nth-of-type(3n+1)  { opacity: .6;}
#leaves i:nth-of-type(3n+2)  { opacity: .5;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {

    0% {
        -webkit-transform:
                translate3d(300,0,0)
                rotate(0deg);
    }

    100% {
        -webkit-transform:
                translate3d(-350px,700px,0)
                rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
    0% {
        -webkit-transform:
                translate3d(0,0,0)
                rotate(-20deg);
    }

    100% {
        -webkit-transform:
                translate3d(-230px,640px,0)
                rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
    0% {
        -webkit-transform:
                translate3d(0,0,0)
                rotate(90deg);
    }

    100% {
        -webkit-transform:
                translate3d(-400px,680px,0)
                rotate(0deg);
        opacity: 0;
    }
}
@keyframes jiggle {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}


.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation-play-state: paused;
}
.pyro.show > .before, .pyro.show > .after {
    animation-play-state: running !important;
}
.pyro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, -30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6, 194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00, -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077, -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d, -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff, -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0, -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff, 41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e, 95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta, -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600, -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00, -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55, 68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff, -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00, 151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, -30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6, 194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00, -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077, -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d, -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff, -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0, -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff, 41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e, 95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta, -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600, -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00, -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55, 68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff, -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00, 151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, -30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6, 194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00, -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077, -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d, -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff, -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0, -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff, 41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e, 95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta, -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600, -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00, -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55, 68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff, -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00, 151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, -30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6, 194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00, -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077, -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d, -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff, -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0, -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff, 41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e, 95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta, -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600, -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00, -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55, 68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff, -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00, 151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}
@keyframes bang {
    to {
        box-shadow: 33px -54.6666666667px #ff4000, -30px -324.6666666667px #0084ff, -77px -38.6666666667px #00ffa6, 194px -130.6666666667px #ff8400, 249px -77.6666666667px #00ff91, -6px 73.3333333333px #ff6a00, -157px 54.3333333333px #7700ff, -190px -355.6666666667px #e600ff, 228px -52.6666666667px #ff0077, -89px -66.6666666667px #8800ff, 215px -191.6666666667px #7700ff, -125px -393.6666666667px #ff004d, -133px -201.6666666667px #00ccff, 124px -105.6666666667px #00ff8c, -27px -334.6666666667px #0026ff, -38px 32.3333333333px #0900ff, 190px 17.3333333333px #00ff15, -65px 3.3333333333px #00ffd0, -234px -357.6666666667px #ff00ee, -249px -293.6666666667px #ff3c00, -204px 8.3333333333px #00d9ff, 41px -32.6666666667px #00ff95, 38px -350.6666666667px #ffb300, -110px -85.6666666667px #ff005e, 95px -86.6666666667px #ee00ff, -219px -269.6666666667px #ffbf00, -142px -306.6666666667px magenta, -8px 14.3333333333px #ffea00, -38px 77.3333333333px #00ff99, -4px 57.3333333333px #d0ff00, 143px -38.6666666667px #ff6600, -121px -198.6666666667px #4400ff, -110px -230.6666666667px #04ff00, 32px 3.3333333333px #ff0015, -66px -396.6666666667px #91ff00, -72px 11.3333333333px #ff00d5, -52px 16.3333333333px #ff0004, -54px -142.6666666667px #3c00ff, -63px 50.3333333333px #00ff55, 68px 2.3333333333px #ff4800, 27px -191.6666666667px #ff00e6, 144px -325.6666666667px #008cff, -140px -160.6666666667px #0055ff, -214px -72.6666666667px #00d0ff, 240px -414.6666666667px #00eeff, -207px -165.6666666667px #0062ff, 27px -357.6666666667px #bfff00, 151px 65.3333333333px #44ff00, 158px -30.6666666667px #5100ff, -187px -120.6666666667px #aeff00, -248px -226.6666666667px #3300ff;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
